{% extends 'base.html' %}
{% block content %}

{{ super() }}


<div class="row justify-content-center align-items-center" height="10%" width="10%" style="margin-top:15px;">
<div class='imgblock'>

<img src="/static/css/sdia (1).png" title='Текст поверх картинки' height="100px"
width="500px">
        <span class="typewriter" style="text-shadow: 1px 1px 2px green;">

look what i found for you!
       </span>

</div>
        <div class="section-row">
        <div class="section-img">
<p class="hover-img" data-url="/static/css/droid-c3po.gif"><img src="/static/css/pixelc3po-min.png"  align="right" width="-50%" height="100px"></p>
    </div>
         <div class="cursor" id="cursor"></div>


</div>

<div class="row justify-content-center align-items-center">
<table class="table table-striped table-dark"  style="font-family:sans-serif;word-wrap: break-word;max-width:60%">
        <thead>
    <tr>
        <th scope="col" style="color:#fff;font-weight: bold;max-width:50%">title</th>
        <th scope="col" style="color:#fff;font-weight: bold;">url</th>
    </tr>
        </thead>
        <tbody>
        {% for dict_item in all %}
            {% for key,value in dict_item.items() %}
        <tr>

        <td style="font-family:sans-serif;word-wrap: break-word;">{{ key }}</td>
            <td style="font-family:sans-serif;word-wrap: break-word;max-width:50%"><a href="{{value}}" target="_blank">{{ value }}</a></td>

        {% endfor %}
        {% endfor %}
    </tbody>
    </tr>
</table>
</div>
</div>




{% endblock %}

